name: CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

permissions:
  contents: read
  checks: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF8
    timeout-minutes: 15
    strategy:
      matrix:
        include:
          - build: assembleDebug
            variant: debug
            type: apk
          - build: assembleRelease
            variant: release
            type: apk
          - build: bundleRelease
            variant: release
            type: bundle

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      # build the APKs and bundle
      - name: Build ${{ matrix.variant }} ${{ matrix.type }}
        run: ./gradlew ${{ matrix.build }} --no-daemon --stacktrace

      - name: Upload ${{ matrix.variant }} ${{ matrix.type }}
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.type }} ${{ matrix.variant }}
          path: app/build/outputs/${{ matrix.type }}/${{ matrix.variant }}/


      # now run our unit test
      - name: Run unit tests
        run: ./gradlew test --no-daemon --stacktrace

      - name: Publish Unit Test Results
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: Unit Tests Results
          path: 'app/build/test-results/testDebugUnitTest/*.xml'
          reporter: java-junit

      # run the linter
      - name: Run lint
        run: ./gradlew lintDebug --no-daemon --stacktrace
