name: CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

permissions:
  contents: read
  checks: write

jobs:
  build:
    name: Build (Gradle)
    runs-on: ubuntu-latest
    env:
      JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF8
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      # build the APKs and bundle
      - name: Build debug apk
        run: ./gradlew assembleDebug

      - name: Build release apk
        run: ./gradlew assembleRelease

      - name: Build release bundle
        run: ./gradlew bundleRelease

      - name: Upload debug APK
        uses: actions/upload-artifact@v6
        with:
          name: APK debug
          path: app/build/outputs/apk/debug/

      - name: Upload release APK
        uses: actions/upload-artifact@v6
        with:
          name: APK release
          path: app/build/outputs/apk/release/

      - name: Upload release AAB (bundle)
        uses: actions/upload-artifact@v6
        with:
          name: AAB release
          path: app/build/outputs/bundle/release/

      # now run our unit test
      - name: Run unit tests
        run: ./gradlew test --no-daemon --stacktrace

      - name: Publish Unit Test Results
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: Unit Tests Results
          path: 'app/build/test-results/testDebugUnitTest/*.xml'
          reporter: java-junit

      # run the linter
      - name: Run lint
        run: ./gradlew lintDebug --no-daemon --stacktrace
